.header-background{
    background-color: #0081a7;
}

.body-background{
    background-color: #fdfcdc;
}

.card-styles{
    background-color: #00afb9;
    margin: 4px;
    
}

.card-image-format{
    width: auto;
    height: auto;
}

